.HomePageBackgroundContainer {
    background-color: #000000 !important;
    background-image: url("https://iili.io/CARhXx2.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    filter: blur(3px) !important;
}

.HomePageBackground {
    height: 0rem !important;
    background-image: none !important;
    filter: none !important;
}
