<div class="AuraBarWrapper" style="box-sizing: border-box; position: relative; z-index: 3; width: 20rem !important;">
    <div class="AuraBarLabel" style="align-items: center;
    color: #f2f2f2;
    display: flex;
    font-size: 1rem;
    font-weight: 800;
    gap: .3rem;
    justify-content: center;
    left: .4rem;
    position: absolute;
    transform: translateY(-50%);
    z-index: 2;">
        <img class="AuraBarLabelImage" src="https://cdn.jsdelivr.net/gh/ITSCraftyMinded14/Bloxd-CSS-Editor@25165c4d63c3eaf236445df0948c99cc23e22bd9/images/aura.png" style="height: 1rem;
width: 1rem; image-rendering: pixelated;">
        <div class="AuraBarLabelText" style="padding-bottom: .1rem; text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000 !important;">0</div>
    </div>

    <div class="AuraBar" style="align-items: center;
    border-radius: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;">
        <div class="AuraBarBackground" style="height: 100%; width: 70%; position: absolute; left: 0; top: 0;"></div>
    </div>
</div>
