<div class="BottomScreenStatBarWrapper">
<div class="BottomScreenStatBarBackground" style="display: flex; align-items: center; justify-content: flex-start;">
    <div style="background-image: url(images/bartext.png);
    width: 15rem;
    height: 3rem;
    position: absolute;
    left: .5rem;
    z-index: 1;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;"></div>
        <div class="HealthBar" style="transform: scaleX(0.72);
    transform-origin: left center;
    position: relative;
    left: 0rem !important;"></div>
    </div>
</div>

<div class="BottomScreenStatBarWrapper">
<div class="BottomScreenStatBarBackground" style="display: flex; align-items: center; justify-content: flex-start;">
    <div style="background-image: url(images/bartext.png);
    width: 15rem;
    height: 3rem;
    position: absolute;
    left: .5rem;
    z-index: 1;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;"></div>
        <div class="ShieldBar" style="transform: scaleX(0.72);
    transform-origin: left center;
    position: relative;
    left: 0rem !important;"></div>
    </div>
</div>
