<div class="BottomScreenStatBarWrapper">
<div class="BottomScreenStatBarBackground" style="display: flex; align-items: center; justify-content: flex-start;">
    <div class="BottomScreenStatBarText" style="background-image: url(https://cdn.jsdelivr.net/gh/ITSCraftyMinded14/Bloxd-CSS-Editor@latest/images/bartext.png);width: 13rem;height: 2.5rem;position: absolute;z-index: 1;background-size: 40%;background-repeat: no-repeat;background-position-y: center;background-position-x: left;margin: .4rem;"></div>
        <div class="HealthBar" style="transform: scaleX(0.72); transform-origin: left center; width: 100%;"></div>
    </div>
</div>

<div class="BottomScreenStatBarWrapper">
<div class="BottomScreenStatBarBackground" style="display: flex; align-items: center; justify-content: flex-start;">
    <div class="BottomScreenStatBarText" style="background-image: url(https://cdn.jsdelivr.net/gh/ITSCraftyMinded14/Bloxd-CSS-Editor@latest/images/shieldtext.png);width: 13rem;height: 2.5rem;position: absolute;z-index: 1;background-size: 40%;background-repeat: no-repeat;background-position-y: center;background-position-x: left;margin: .4rem;"></div>
        <div class="ShieldBar" style="transform: scaleX(0.72); transform-origin: left center; width: 100%;"></div>
    </div>
</div>
