<div class="HotBar">

    <div class="HotBarItem ButtonHotBarItem">
        <div style="background-position: center;"></div>
    </div>

    <div class="HotBarFiller" style="align-items: center; flex-grow: 1;"></div>

    <div style="flex-direction: row; display: flex; gap: 0.3rem">

        <div class="InvenItem Selected" data-inven-idx="0"></div>
        <div class="InvenItem"></div>
        <div class="InvenItem"></div>
        <div class="InvenItem"></div>

    </div>

    <div class="HotBarFiller" style="align-items: center; flex-grow: 1;"></div>

    <div class="HotBarItem ButtonHotBarItem">
        <div style="background-position: center;"></div>
    </div>

</div>