<div class="IconKeyboardButtonHelper" style="font-size: .8rem;
    position: relative;">
    <div class="KeyboardButtonRepresentation" style="display: flex;
    font-weight: 700;
    justify-content: center;
    margin-bottom: .3em;
    min-width: 2em;
    padding: .2em .4em; box-sizing: border-box; align-items: center;">O</div>
</div>

<div class="IconKeyboardButtonHelper" style="font-size: .8rem;
    position: relative;">
    <div class="KeyboardButtonRepresentation" style="display: flex;
    font-weight: 700;
    justify-content: center;
    margin-bottom: .3em;
    min-width: 2em;
    padding: .2em .4em; box-sizing: border-box; align-items: center;">Tab</div>
</div>

<div class="IconKeyboardButtonHelper" style="font-size: .8rem;
    position: relative;">
    <div class="KeyboardButtonRepresentation" style="display: flex;
    font-weight: 700;
    justify-content: center;
    margin-bottom: .3em;
    min-width: 2em;
    padding: .2em .4em; box-sizing: border-box; align-items: center;">N</div>
</div>

<div class="IconKeyboardButtonHelper" style="font-size: .8rem;
    position: relative;">
    <div class="KeyboardButtonRepresentation" style="display: flex;
    font-weight: 700;
    justify-content: center;
    margin-bottom: .3em;
    min-width: 2em;
    padding: .2em .4em; box-sizing: border-box; align-items: center;">P</div>
</div>